html{
	height:100%;
}

body {
	background: url("/assets/back.jpg") center center fixed; ;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	background-size: cover;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	height:100%;
	width:100%;
}

body, p, ol, ul, td {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
}

#header_pane{
	width:100%;
	font-family: 'Titillium Web', sans-serif;
	letter-spacing: 15px;
	height:130px;
	padding-top:40px;
	text-align: center;
	color:#F8F8FF;
}

#main_title{
	font-size:100px;
}

#view_content{
	margin-left:15%;
	margin-right:15%;
}

#wrapper{
	min-height:100%;
}

#main_content{
	position:absolute;
	left:12.5%;
	width:75%;
	height:100%;
	margin-right:auto;
	margin-left:auto;
}


#main {
	width:100%;
	background-color: #FFF;
	border:solid #787878 1px;
	min-height:100%;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	text-align:left;
	overflow:auto;
	padding:15px;
}

footer{
	position:relative;
	background-color:#262626;
	border-top:solid #787878 1px;
	color:#FFF;
	text-align:center;
	padding:8px;
	clear:both;
	margin-top:200px;
}


#notice{
	color:#FFFFFF;
	width:auto;	
}
#alert {
	color:#FF0000;
	width:auto;
}

#alert, #notice{
	position:absolute;
	left:15px;
	top:16px;
}

.menu_button{
	color:#FFF;
	text-decoration: none;
	padding:5px;
	border-radius:4px;
}

.menu_button:hover{
	background-color: #FFF;
	color:#043a6B;
}


#menu{
	border-bottom:solid #787878 1px;
	width:100%;
	background-color: #262626;
	position:fixed;
	top:0px;
	left:0px;
	padding-bottom:8px;
	padding-top:8px;
	z-index:100;
	letter-spacing:2px;
}

#login_content{
	text-align:center;
	color:#FFF;
	padding:0.8em;
	margin-left:auto;
	margin-right:auto;
}

#username_tag{
	font-weight: 800;
	font-size: 15px;
}

.review,.view_subscription{
	margin-left:2em;
	margin-right:35em;
	border: solid #000 1px;
	border-radius:1em;
	background-color: #FFF;
	padding-left:2em;
	padding-bottom:2em;
	color:#000;
}

.review a,.view_subscription a{
	color:#000;
	text-decoration: none;
	padding:2px;
	padding-left:4px;
	padding-right:4px;
	border-radius: 0.3em;
	text-decoration: underline;
}


.review:hover, .view_subscription:hover{
	background-color: #F2f1ec;
	color:#000;
}

.view_subscription a{
	position:relative;
	top:10px;
	font-size: 18px;
}

.user_unsub{
	float:right;
	margin-right: 2em;
}



p.content{
	font-size: 10px;
}

pre {
	background-color: #eee;
	padding: 10px;
	font-size: 11px;
}