<h1 class="header">Review Website Assignment 3</h1>
<hr />
<p>Welcome to the review site</p>
<div id='search_bar'>
	<%= form_tag reviews_path, :method => :get do %>
		Search For a Review
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", :name => nil %>
	<% end %>
</div>