<div id='view_content'>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Username</th>
				<th>Unsubscribe</th>
			</tr>
		</thead>
		<tbody>
		<% @counter = 1 %>
		<% @subscriptions.each do |subscription| %>
			<tr>
				<th><%=@counter%></th>
				<%@counter=@counter + 1%>

				<%@username = User.where("id =?",subscription.subscription_user_id).first%>
		     <%if @username != nil %>
		     	 <th><%= link_to @username.username, user_account_path(@username.username), :class => "user_sub" %></th>
		     	 <th> <%=link_to "X", subscription, :method=>:delete , :class => "user_unsub" %></th>
		     <%end%>
		 </tr>
		<%end%>
		</tbody>
	</table>
</div>

<% content_for :title do %>
	<small>Your Subscriptions</small>
<%end%>