<div id="banner">

	<h3>A brief introduction to ReviewIt</h3>
	<p>
		Review is a site created with the premise that everyone has an opinion on everything and in this day and age, people like to share those opinions with whoever will hear them.
		We created ReviewIt so that anyone can share their opinions on ANYTHING and get other peoples opinions too.
	</p>	
	<br>
	<img src="/assets/ReviewAnything.png" width="384" height="191" style="border:1px solid gray" alt="You can even review Easter Eggs!"/><img>
	<br>
	<br>
	
	<h3>Pain Point</h3>
	<p>
		We here at First World Problems (FWP) like thinking about stuff and sharing it with others and while thinking about stuff one day,
		we realised there was no easy way to review any object, place or experience and follow other people who think about similar stuff.
	</p>
	<p>
		So we created a site where you can search for and/or post reviews on anything you like (or don't like) - and if you
		find other people who share similar likes or dislikes, you can read all their reviews as they post them!
	</p>
	<br>
	
	<h3>Target Audience and Scale</h3>
	<p>
		We want anyone with a computer, phone or tablet to post reviews on everything!
		It doesn't matter if you're a student, a teen, a businessman, a stay-at-home mum - We want your opinions!
		Since anything can be reviewed, more users means more reviews and more information about stuff!
		Our database is designed so as to allow for expansion so help use get up to and past 1000 users/day!
	</p>
	<br>
	
	<h3>Scope</h3>
	<p>
		Currently ReviewIt is being tested in New Zealand but this is the internet. The internet is for connecting people INTERNATIONALLY!
	</p>
	<br>
	
	<h3>Key Features</h3>
	<ul>
		<li>Users can create and account and post a review</li>
		<li>Users can search for keywords or other users</li>
		<li>Anyone with an account can create a review for anyone to see</li>
		<li>Users can subscribe to other users easily to find their reviews as soon as they're posted</li>
	</ul>
	
	<p>
		ReviewIt allows users to subscribe to other members to be notified when they post a review.
		Other such sites either allow users to post reviews on fixed categories or don’t allow users to follow other reviewers.
		We found these to both be important features as reviewers often post similarly themed/categorized reviews
		and ReviewIt brings these features together.
	</p>
	<br>
		<p>Here is a (very) short video outlining how to use an older version of ReviewIt:</P>
	<br>
	
	<div id="video">
		<video width="1024" height="768" controls>
			<source src="/video/COMP333_Assignment_3.mp4" type="video/mp4">
			<source src="/video/COMP333_Assignment_3.webm" type="video/webm">
			<p>Your browser does not support the video tag. Download a <a href="http://www.google.com/chrome/">newer browser.</a></p>
		</video>
	</div>
	<br>
	
	First World Problems (FWP) is:
	<ul>
	<li>David Brougham (1156964)</li>
	<li>James Lord (1136624)</li>
	
</div>

<% content_for :title do %>
	<small>About</small>
<%end%>