body {
	background-color: #5f7395; color: #333; 
}

body, p, ol, ul, td {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
}
pre {
	background-color: #eee;
	padding: 10px;
	font-size: 11px;
}
a {
	color: #000; 
}
a:visited {
	color: #666; 
}
#main {
	background-color: #fff;
	border: solid #000 1px;
	margin:5em;
	padding-left:1em;
	height:60em;
}
.notice {
	font-size: 130%;
	color:#FFF;	
	padding: 0.5em;
}
.alert {
	color:#FFF;
	padding: 0.5em;
}

#login_details{
	float:right;
	border-left: solid #000 1px;
	background-color: #043a6B;
	height:60em;
	border-top-left-radius:1em;
	border-bottom-left-radius:1em;
}

#login_content{
	text-align: right;
	color:#FFF;
	margin-left:15px;
	margin-right:15px;
}

.review{
	margin-left:2em;
	margin-right:35em;
	border: solid #000 1px;
	border-radius:1em;
	background-color: #FFF;
	padding-left:2em;
	padding-bottom:2em;
	color:#000;
}

.review a{
	color:#000;
	text-decoration: none;
	padding:2px;
	padding-left:4px;
	padding-right:4px;
	border-radius: 0.3em;
	text-decoration: underline;
}


.review:hover, .review:hover a{
	background-color: #F2f1ec;
	color:#000;
}

.review a:hover{
	border:solid 1px #000;
	background-color: #FFF;
}

p.content{
	font-size: 10px;
}

#search_bar{
	margin-left:25%;
	width:400px;
}

#login_content a{
	color:#FFF;
	text-decoration: none;
	padding:5px;
	border-radius:4px;

}

#login_content a:hover{
	background-color: #FFF;
	color:#043a6B;
}

#yield_content{
	overflow:auto;
	height:55em;
}

#notice_box{
	position:absolute;
	top:0.5em;
	left:5em;
}

