<div id='view_content'>

<%= render 'form' %>

<hr />
<div class="btn-group">
	<button class="btn btn-warning"><%= link_to raw("<i class=\"icon-arrow-left icon-white\"></i>")+" Back",:back,:class => "btn-content"%></button>
    <button class="btn btn-info"><%= link_to raw("<i class=\"icon-eye-open icon-white\"></i>")+" Show",  @review,:class => "btn-content"%></button>
</div>
</div>

<% content_for :title do %>
	<small>Edit Review</small>
<%end%>